USE [master]
GO
/****** Object:  Database [JDBC_Source_DB]    Script Date: 5/12/2020 11:22:18 PM ******/
CREATE DATABASE [JDBC_Source_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JDBC_Source_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\JDBC_Source_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JDBC_Source_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\JDBC_Source_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JDBC_Source_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JDBC_Source_DB]
GO
/****** Object:  Table [dbo].[INVOICES]    Script Date: 5/12/2020 11:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICES](
	[IMSI] [int] NOT NULL,
	[ACTIVATION_DATE] [date] NOT NULL,
	[CUSTOMER_NUMBER] [varchar](30) NOT NULL,
	[NET_AMOUNT] [money] NOT NULL,
	[GROSS_AMOUNT] [money] NULL,
	[CURRENT_USAGE] [decimal](18, 0) NULL,
 CONSTRAINT [PK_INVOICES] PRIMARY KEY CLUSTERED 
(
	[IMSI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[INVOICES] ([IMSI], [ACTIVATION_DATE], [CUSTOMER_NUMBER], [NET_AMOUNT], [GROSS_AMOUNT], [CURRENT_USAGE]) VALUES (1212, CAST(N'2016-01-01' AS Date), N'1', 1200.0000, 1200.0000, CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[INVOICES] ([IMSI], [ACTIVATION_DATE], [CUSTOMER_NUMBER], [NET_AMOUNT], [GROSS_AMOUNT], [CURRENT_USAGE]) VALUES (10011, CAST(N'2017-03-09' AS Date), N'1', 1600.0000, 2.0000, NULL)
INSERT [dbo].[INVOICES] ([IMSI], [ACTIVATION_DATE], [CUSTOMER_NUMBER], [NET_AMOUNT], [GROSS_AMOUNT], [CURRENT_USAGE]) VALUES (12290, CAST(N'2019-12-30' AS Date), N'3', 1000.0000, 1300.0000, CAST(250 AS Decimal(18, 0)))
USE [master]
GO
